.html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

.header {
  font-size: 50px;
  color: rgb(185, 64, 64);
  text-align: center;
  margin: 20px;
}
body {
  background: linear-gradient(310deg, rgba(58,180,131,1) 1%, rgba(29,184,253,1) 50%, rgba(115,224,63,1) 100%);
}

.second-header{
  color: #00008b;
}
footer {
  text-align: center;
}



.links {
  color: rgb(62, 230, 47);
}

.navigation {
  position: fixed;
   background: #ff0000;
  border: #00008b 2px solid;
  padding: 10px;
  
}
.navigation__link {
  color: #ffffff;
  margin-right: 20px;
  display: inline-block;
}

.navigation__link--homepage {
  background: yellow;
  color: #000;
}
.week{
border: yellow solid 2px;
background: #eeebeed2;
padding: 20px;
margin: 10px;
}

.week__summary{
  color: rgb(24, 46, 241);
  text-align: center;
  font-size: 40px;

}

.week__description{
  color: #000;
  

}
.link{
  border: tomato solid 2px;
  color:yellow;
  background-color: #7d84e0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
text-align: center;
}

.link__address{
  background-color: #945b94;
  color: yellowgreen;
  border: #00008b solid 1px;
  width: 200px;
  height: 30px;
  
  
  
  
  


  


}

.main{
  max-width: 1000px;
  margin: 0 auto;
}