nav  {
    display: inline-block;
}

   div{
       background-color: rgb(26, 24, 24);
   } 

   h1{
       font-size: 80px;
   }
body {
    
    background-color: rgb(148, 143, 148);  
}

footer{
    text-align: center;
}
.nav{
    font-size: 20px;
}

header{
    font-size: 80px;
    text-align: center;
    color:rgb(128, 8, 8)
   }

img {
    padding-left: 700px;
}

.blue {
    color: rgb(41, 56, 138);
    font-size: 1cm;
    padding-left: 100px;
    
}

.green{
    color: rgb(62, 230, 47);
}
.whitesmoke{
    color: whitesmoke;
    margin-left: 1cm;
}

nav a {
    color: white;
    
}

a {
    color: yellow;
}